.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 440px;
  position: relative;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.modalHeader button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.modalHeader .active {
  font-weight: bold;
  border-bottom: 2px solid blue;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}