.PaymentDetails {
    max-width: 400px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
}

.sub-total, .shipment-cost, .discount, .grand-total {
    display: flex;
    justify-content: space-between;
}

.grand-total,
.sub-total,
.discount {
    margin: 6px 0px;
}

.sub-total,
.discount,
.shipment-cost {
    color: #717171;
    font-size: 14px;
}

.PTC {
    color: white;
    background-color: #0C68F4;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: none;

}